* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #FF3600;
  --trans-primary-color: rgba(255, 54, 0, 0.15);
  --dark-primary-color: hsl(13, 100%, 40%);
  --transition: all 0.3s ease-in-out;
}

.title.center{
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  max-width: 540px;
  margin: auto;
}

body {
  font-family: 'Inter', sans-serif;
  padding-top: 150px;
  /* height: 1000px; */
}

ul{
  list-style: none;
  margin: 0;
  padding: 0;
}

a{
  text-decoration: none;
  color: inherit;
}

.navbar {
  position: fixed;
  top: 40px;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  max-width: 1144px;
  padding: 20px 25px;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 10px rgba(0,0,0,0.05);
  z-index: 1000;
  border-radius: 10px;
}

img.logo {
  width: 135px;
}

.navbar ul {
  display: flex;
  list-style: none;
  gap: 40px;
}

.navbar ul li a {
  text-decoration: none;
  color: black;
  font-weight: 500;
}

button.primary {
  background-color: var(--primary-color);
  color: white;
  font-weight: bold;
  padding: 12.5px 25px;
  border-radius: 9999px;
  border: none;
  font-size: 16px;
  cursor: pointer;
  transition: var(--transition);
  width: fit-content;
}
button.primary.thin{
  color: var(--primary-color);
  background-color: transparent;
  border: 2px solid var(--primary-color);
  &:hover{
    background-color: var(--primary-color);
    color: white;
  }
}
button.secondary {
  background-color: white;
  color: black;
  font-weight: bold;
  padding: 12.5px 25px;
  border-radius: 9999px;
  border: none;
  font-size: 16px;
  cursor: pointer;
  transition: var(--transition);
  width: fit-content;
}

button.primary:hover {
  background-color: var(--dark-primary-color);
}
button.secondary:hover {
  background-color: #ddd;
}

.badge {
  background-color: var(--trans-primary-color);
  border: var(--primary-color) 1px solid;
  border-radius: 9999px;
  padding: 10px 20px;
  width: fit-content;
  font-weight: bold;
  font-size: 14px;
  color: var(--primary-color);
  display: flex;
  align-items: center;
}
.badge::before {
  content: "";
  display: inline-block;
  width: 18px;
  height: 20px;
  margin-right: 10px;
  background-image: url(images/star.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

h1 {
  font-size: 80px;
  font-weight: bold;
  text-align: center;
  letter-spacing: -0.035em;
}

h2 {
  font-size: 46px;
  font-weight: bold;
  letter-spacing: -0.035em;
}

h3 {
  font-size: 24px;
  font-weight: bold;
  letter-spacing: -0.035em;
}

h4 {
  font-size: 20px;
  font-weight: bold;
  letter-spacing: -0.035em;
}

p.secondary {
  font-size: 16px;
  color: #808080;
  line-height: 1.6;
}

.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 122px;
}

.hero {
  background-image: url("images/hero.png");
  background-position: center;
  background-size: cover;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
  padding: 40px 0;
  border-radius: 50px;
  color: white;
  h1 {
    max-width: 950px;
  }
  p {
    max-width: 700px;
    text-align: center;
  }
}

.buttons {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  gap: 20px;
  margin-top: 10px;
  border-radius: 50px;
  padding: 25px;
  position: relative;
  text-align: center;
}

.hero .buttons {
  display: flex;
  gap: 20px;
  button{
    z-index: 10;
  }
}

.hero h2 {
  font-size: 2em;
  text-align: center;
}

.about-us {
  display: flex;
  align-items: stretch;
  gap: 20px;
  width: 100%;
  margin: 100px auto;
  max-height: fit-content;
}

.about-us .title {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.about-us .image,
.about-us .content {
  flex: 1;
  min-height: 0;
}

.about-us .image {
  min-height: 100%;
  background-image: url(images/about-us.png);
  background-position: center;
  background-size: cover;
  border-radius: 20px;
}

.about-us .content {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.about-us ul{
  display: flex;
  flex-direction: column;
  gap: 10px;
  list-style-type: disc;
  padding-left: 20px;
}

.services {
  background-color: rgba(255, 54, 0, 7%);
  padding: 100px 50px;
  border-radius: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  margin-bottom: 100px;
}
.services .cta {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  max-width: 600px;
  text-align: center;
}
.services .cards {
  display: flex;
  gap: 30px;
  justify-content: space-between;
}
.services .cards .card{
  background-color: white;
  padding: 25px;
  border-radius: 25px;
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 25px;
  img{
    width: 60px;
  }
  .text {
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex: 1;
  }
}

footer {
  background-color: black;
  color: white;
  padding: 50px 122px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer .logo{
  width: 220px;
}
footer img.logo{
  width: 200px;
}
footer .links ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
footer .links p{
  font-size: 1.2em;
  font-weight: bold;
  margin-bottom: 10px;
}
footer .links{
  display: flex;
  flex-direction: column;
  gap: 15px;
}
footer .socials{
  display: flex;
  gap: 20px;
  img {
    width: 50px;
  }
}

.page-header {
  background-image: url("images/page-header.png");
  height: 300px;
  border-radius: 30px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-bottom: 100px
}