* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #ff3600;
  --trans-primary-color: rgba(255, 54, 0, 0.15);
  --dark-primary-color: hsl(13, 100%, 40%);
  --transition: all 0.3s ease-in-out;
}

.title.center {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  max-width: 540px;
  margin: auto;
}

body {
  font-family: "Inter", sans-serif;
  padding-top: 150px;
  /* height: 1000px; */
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

.navbar {
  position: fixed;
  top: 40px;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  max-width: 1144px;
  padding: 20px 25px;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
  z-index: 1000;
  border-radius: 10px;
}

img.logo {
  width: 135px;
}

.navbar ul {
  display: flex;
  list-style: none;
  gap: 40px;
}

.navbar ul li a {
  text-decoration: none;
  color: black;
  font-weight: 500;
}

button.primary {
  background-color: var(--primary-color);
  color: white;
  font-weight: bold;
  padding: 12.5px 25px;
  border-radius: 9999px;
  border: none;
  font-size: 16px;
  cursor: pointer;
  transition: var(--transition);
  width: fit-content;
}
button.primary.thin {
  color: var(--primary-color);
  background-color: transparent;
  border: 2px solid var(--primary-color);
  &:hover {
    background-color: var(--primary-color);
    color: white;
  }
}
button.secondary {
  background-color: white;
  color: black;
  font-weight: bold;
  padding: 12.5px 25px;
  border-radius: 9999px;
  border: none;
  font-size: 16px;
  cursor: pointer;
  transition: var(--transition);
  width: fit-content;
}

button.primary:hover {
  background-color: var(--dark-primary-color);
}
button.secondary:hover {
  background-color: #ddd;
}

.badge {
  background-color: var(--trans-primary-color);
  border: var(--primary-color) 1px solid;
  border-radius: 9999px;
  padding: 10px 20px;
  width: fit-content;
  font-weight: bold;
  font-size: 14px;
  color: var(--primary-color);
  display: flex;
  align-items: center;
}
.badge::before {
  content: "";
  display: inline-block;
  width: 18px;
  height: 20px;
  margin-right: 10px;
  background-image: url(images/star.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

h1 {
  font-size: 80px;
  font-weight: bold;
  text-align: center;
  letter-spacing: -0.035em;
}

h2 {
  font-size: 46px;
  font-weight: bold;
  letter-spacing: -0.035em;
}

h3 {
  font-size: 24px;
  font-weight: bold;
  letter-spacing: -0.035em;
}

h4 {
  font-size: 20px;
  font-weight: bold;
  letter-spacing: -0.035em;
}

p.secondary {
  font-size: 16px;
  color: #808080;
  line-height: 1.6;
}

.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 122px;
}

.hero {
  background-image: url("images/hero.png");
  background-position: center;
  background-size: cover;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
  padding: 40px 0;
  border-radius: 50px;
  color: white;
  h1 {
    max-width: 950px;
  }
  p {
    max-width: 700px;
    text-align: center;
  }
}

.buttons {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  gap: 20px;
  margin-top: 10px;
  border-radius: 50px;
  padding: 25px;
  position: relative;
  text-align: center;
}

.hero .buttons {
  display: flex;
  gap: 20px;
  button {
    z-index: 10;
  }
}

.hero h2 {
  font-size: 2em;
  text-align: center;
}

.about-us {
  display: flex;
  align-items: stretch;
  gap: 20px;
  width: 100%;
  margin: 100px auto;
  max-height: fit-content;
}

.about-us .title {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.about-us .image,
.about-us .content {
  flex: 1;
  min-height: 0;
}

.about-us .image {
  min-height: 100%;
  background-image: url(images/about-us.png);
  background-position: center;
  background-size: cover;
  border-radius: 20px;
}

.about-us .content {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.about-us ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
  list-style-type: disc;
  padding-left: 20px;
}

.services {
  background-color: rgba(255, 54, 0, 7%);
  padding: 100px 50px;
  border-radius: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  margin-bottom: 100px;
}
.services .cta {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  max-width: 600px;
  text-align: center;
}
.services .cards {
  display: flex;
  gap: 30px;
  justify-content: space-between;
}
.services .cards .card {
  background-color: white;
  padding: 25px;
  border-radius: 25px;
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 25px;
  img {
    width: 60px;
  }
  .text {
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex: 1;
  }
}

footer {
  background-color: black;
  color: white;
  padding: 50px 122px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer .logo {
  width: 220px;
}
footer img.logo {
  width: 200px;
}
footer .links ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
footer .links p {
  font-size: 1.2em;
  font-weight: bold;
  margin-bottom: 10px;
}
footer .links {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
footer .socials {
  display: flex;
  gap: 20px;
  img {
    width: 50px;
  }
}

.page-header {
  background-image: url("images/page-header.png");
  height: 300px;
  border-radius: 30px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-bottom: 100px;
}

.cars {
  display: flex;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
  margin-bottom: 100px;
}

.cars .card {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: space-between;
  min-height: 500px;
  /* max-width: calc((100% / 3) - 10px); */
  min-width: calc((100% / 3) - 40px);
  padding: 25px;
  border: 1px solid #e6e6e6;
  border-radius: 25px;
  .icon{
    width: 20px;
    margin-right: 10px;
  }
}

.booking-content .info{
  display: flex;
  flex: 1;
  flex-direction: column;
  height: fit-content;
  gap: 20px;
  flex: 1;
  padding: 25px;
  border: 1px solid rgba(255, 55, 0, 10%);
  background-color: rgba(255, 55, 0, 5%);
  border-radius: 25px;
  .icon{
    width: 20px;
    margin-right: 10px;
  }
}

.cars .card .image {
  width: 100%;
  height: 200px;
  border-radius: 15px;
  overflow: hidden;
}

.cars .card .image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.cars .card .car-type,
.booking-content .info .car-type {
  background-color: rgba(255, 54, 0, 10%);
  font-weight: bold;
  font-size: 12px;
  padding: 5px 15px;
  width: fit-content;
  border-radius: 9999px;
  margin-top: 10px;
}

.cars .card .specs li,
.booking-content .info .specs li {
  display: flex;
  justify-content: space-between;
}

.cars .card .footer,
.booking-content .info .footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cars .card .footer .price,
.booking-content .info .footer .price {
  display: flex;
  gap: 5px;
  align-items: flex-end;
}

.contact-content {
  display: flex;
  margin-bottom: 100px;
  gap: 40px;
}

.contact-content .contact-info {
  /* flex: 1; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 460px;
  width: 460px;
  background-color: black;
  color: white;
  border-radius: 50px;
  padding: 65px;
  h3 {
    font-size: 32px;
    margin-bottom: 5px;
  }
  p {
    margin-bottom: 20px;
  }
}

.contact-content .contact-info .socials{
  display: flex;
  gap: 10px;
  img {
    width: 45px;
  }
}

.contact-content .contact-info .info p {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px
}
.contact-content .contact-info .info p img {
  width: 32px;
}

.contact-content .contact-form {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: auto;
  form {
    width: 100%;
  }
}

.booking-content {
  display: flex;
  margin-bottom: 100px;
  gap: 40px;
}

.booking-content .form {
  flex: 2;
}

.booking-content .form .image {
  flex: 1;
  width: 100%;
  height: 400px;
  border-radius: 15px;
  overflow: hidden;
  margin-bottom: 40px;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
}

form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  border: #D9D9D9 1px solid;
  padding: 49px;
  border-radius: 25px;
}

form div {
  display: flex;
  gap: 20px;
}
form div label {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
form div label input {
  width: 100%;
  border: 1px solid #ddd;
  padding: 12.5px;
  background-color: #f3f3f3;
  border-radius: 5px;
}
form label textarea {
  margin-top: 5px;
  width: 100%;
  border: 1px solid #ddd;
  padding: 12.5px;
  background-color: #f3f3f3;
  border-radius: 5px;
  height: 200px;
}